@import url('https://fonts.googleapis.com/css?family=Inconsolata');

.date_header_wrapper {
	margin-top: 20px;
}

.date_header {
	display: inline;
	font-family: Futura, "Trebuchet MS", Arial, sans-serif !important;
	font-weight: lighter !important;
}

.fact_text {
	font-family: 'Inconsolata', monospace;
	font-size: 1.25em;
	margin: 15px 0px;
}

.faster {
	animation-duration: 450ms !important;
}

.bottom_controls {
	position: fixed;
	width: 30%;
	left: 35%;
	top: 60%;
}

.button_visibility_off {
	display: none;
}

.button_visibility_on {
	display: inline-block !important;
}

.newLine {
	display: none;
}

@media screen and (min-width: 320px) {
	.bottom_controls {
		position: fixed;
		width: 30%;
		left: 35%;
		top: 75%;
	}

	.button_visibility_off {
		display: inline-block !important;
	}

	.button_visibility_on {
		display: none !important;
	}

	.newLine {
		display: block;
	}
}

@media screen and (min-width: 800px) {
	.bottom_controls {
		position: fixed;
		width: 30%;
		left: 35%;
		top: 60%;
	}

	.button_visibility_off {
		display: none !important;
	}

	.button_visibility_on {
		display: inline-block !important;
	}

	.newLine {
		display: none;
	}
}

